@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

:root {
  --color__black: #2b3939;
  --color__grey: #7c8f8f;
  --color__grey--light: #b7c4c4;
  --color__teal: #5ca5a5;
  --color__teal--light: rgba(92, 165, 165, 0.1);
  --color__white: #ffffff;

  --transition__in: background-color 0.3s ease-out, color 0.1s ease-out;
  --transition__out: all 0.2s ease-in;
  font-size: 10px;
  font-family: 'Spartan', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* --------------- END CSS RESET ------------------------ */

.page-layout {
  min-height: 100vh;
  display: grid;
  grid-template-columns: minmax(2.4rem, 4rem) 1fr minmax(2.4rem, 4rem);
  grid-template-rows: 15.6rem 1fr 6rem;
  background-color: var(--color__teal--light);
}

.pattern {
  grid-column: 1/-1;
  grid-row: 1 /1;
  background-image: url('../images/bg-header-desktop.svg');
  background-color: var(--color__teal);
}
.stack-wrapper {
  grid-row: 1 / span 2;
  grid-column: 2;
  width: 100%;
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}
